<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register</title>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html, body {
      height: 100%;
     font-family: 'Times New Roman', Times, serif;
    }

    .container {
      display: flex;
      flex-direction: row;
      height: 100vh;
    }

    .box1, .box2 {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .box1 {
      background: linear-gradient(to bottom, rgba(1, 141, 141, 0.758), #c7f4f2);
    }

    .box1 img {
      width: 100%;
      max-width: 400px;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }

    .box2 {
      background: linear-gradient(to top, rgba(1, 141, 141, 0.758), #c7f4f2);
      font-style: italic;
      font-weight: 800;
    }

    form {
      width: 100%;
      max-width: 400px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      text-align: left;
      font-size: medium;
    }

    label {
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
      font-style: italic;
      font-size: medium;
      border: 1px solid #ccc;
      padding: 10px 15px;
      border-radius: 8px;
      width: 100%;
    }

    input[type="submit"] {
      border: 2px solid black;
      border-radius: 8px;
      padding: 10px 20px;
      font-style: italic;
      background-color: white;
      cursor: pointer;
      margin-top: 10px;
      font-weight: 700;
      transition: 0.3s;
    }

    input[type="submit"]:hover {
      background-color: black;
      color: white;
    }

    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }

      .box1 img {
        max-width: 90%;
      }

      .box1, .box2 {
        width: 100%;
        height: auto;
      }

      form {
        padding: 10px;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="box1">
      <img src="https://medafrica-log.com/wp-content/uploads/2022/10/ecommerce-solutions.png" alt="ecommerce image">
    </div>

    <div class="box2">
      <form action="/register" method="POST">
        <h2>REGISTER</h2>
        <hr><br>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="username" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Enter password" required>
        </div>

        <div class="form-group">
          <label for="role">Role:</label>
          <select name="role" id="role" required>
            <option value="user">User</option>
            <option value="seller">Seller</option>
          </select>
        </div>

        <input type="submit" value="Register">
        <br>
        <br>&nbsp;
        <hr>
      </form>
    </div>
  </div>
</body>
</html>
